@model List<TrendingGames>
@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">

    <!-- Page Heading -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>ImageUrl</th>
                            <th>Category</th>
                            <th>Actions</th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.Discount</td>
                                <td>
                                    <button type="button" class="btn btn-primary">Update</button>
                                    <button type="button" class="btn btn-secondary">Delete</button>
                                    <button type="button" class="btn btn-danger">Info</button>

                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>